    /**
     * Base16 {{scheme-name}} ROFI Color theme
     *
     * Authors
     *  Scheme: {{scheme-author}}
     *  Template: August Lounibos
     */

    background-color: rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.35);
    text-color:       #{{base05-hex}};
    selbg:            #{{base0E-hex}};
    actbg:            #{{base02-hex}};
    urgbg:            #{{base08-hex}};
    winbg:            #{{base00-hex}};
