    # base16-shell (https://github.com/chriskempson/base16-shell)
    # Base16 Shell template by August
    # {{scheme-name}} scheme by {{scheme-author}}

    readonly -a base=(
        "#{{base00-hex}}" "#{{base01-hex}}" "#{{base02-hex}}" "#{{base03-hex}}" "#{{base04-hex}}" "#{{base05-hex}}" "#{{base06-hex}}" "#{{base07-hex}}"
        "#{{base08-hex}}" "#{{base09-hex}}" "#{{base0A-hex}}" "#{{base0B-hex}}" "#{{base0C-hex}}" "#{{base0D-hex}}" "#{{base0E-hex}}" "#{{base0F-hex}}"
    )
