# betterlockscreen {{scheme-name}} Color theme
#
# Authors
#  Scheme: {{scheme-author}}
#  Template: August Lounibos
loginbox=#{{base00-hex}}66
ringvercolor=#{{base05-hex}}
ringwrongcolor=#{{base05-hex}}
timecolor=#{{base05-hex}}
greetercolor=#{{base05-hex}}
layoutcolor=#{{base05-hex}}
verifcolor=#{{base05-hex}}
keyhlcolor=#{{base0E-hex}}
bshlcolor=#{{base0E-hex}}
modifcolor=#{{base0F-hex}}
wrongcolor=#{{base08-hex}}
insidewrongcolor=#{{base08-hex}}
