/* start flavours */
/* {lavender} by {August Lounibos} */

:root {
  --base00: 49, 43, 89;
  --base01: 87, 82, 119;
  --base02: 125, 120, 149;
  --base03: 162, 158, 179;
  --base04: 200, 196, 210;
  --base05: 238, 234, 240;
  --base06: 240, 237, 242;
  --base07: 243, 240, 244;
  --base08: 209, 57, 126;
  --base09: 239, 138, 152;
  --base0A: 89, 161, 240;
  --base0B: 137, 149, 146;
  --base0C: 192, 107, 242;
  --base0D: 242, 100, 242;
  --base0E: 199, 72, 237;
  --base0F: 159, 76, 245;
}
/* end flavours */

.theme-dark {
  --header-primary: rgb(var(--base05));
  --header-secondary: rgb(var(--base04));
  --text-normal: rgb(var(--base05));
  --text-muted: rgb(var(--base04));
  --text-link: rgb(var(--base08));
  --channels-default: rgb(var(--base05));
  --background-new-msg-bar: rgb(var(--base0D));
  --divider-color: rgb(var(--base09));
  --interactive-normal: rgb(var(--base04));
  --interactive-hover: rgb(var(--base05));
  --interactive-active: rgb(var(--base05));
  --interactive-muted: rgb(var(--base03));
  --background-primary: rgb(var(--base00));
  --background-secondary: rgb(var(--base01));
  --background-secondary-alt: rgb(var(--base01));
  --background-tertiary: rgb(var(--base01));
  --background-accent: rgb(var(--base02));
  --background-floating: rgb(var(--base00));
  --background-mobile-primary: var(--background-primary);
  --background-mobile-secondary: var(--background-secondary);
  --background-modifier-selected: rgba(var(--base00), 0.32);
  --background-modifier-hover: rgba(var(--base00), 0.32);
  --background-modifier-active: rgba(var(--base00), 0.32);
  --scrollbar-thin-thumb: rgb(var(--base02));
  --scrollbar-auto-thumb: rgb(var(--base02));
  --scrollbar-auto-track: rgb(var(--base01));
  --scrollbar-auto-scrollbar-color-thumb: rgb(var(--base02));
  --scrollbar-auto-scrollbar-color-track: rgb(var(--base01));
  --focus-primary: rgb(var(--base08));
  --channeltextarea-background: rgb(var(--base01));
  --deprecated-card-bg: rgb(var(--base01));
  --deprecated-quickswitcher-input-background: rgb(var(--base01));
  --deprecated-quickswitcher-input-placeholder: rgb(var(--base05));
  --activity-card-background: var(--background-secondary);
}

/* FIXME */
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: rgb(var(--base0F));
}
.item-1OdjEX {
  border-radius: 0;
  margin-right: 8px;
}
.menu-1QACrS,
.tooltip-14MtrL,
.option-2KkUJO {
  border-radius: 0;
}
.theme-dark .option-2KkUJO:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.theme-dark .option-2KkUJO:after {
  background: unset;
}
.theme-dark .queryContainer-ZunrLZ {
  background-color: var(--background-primary);
}
.theme-dark .container-2McqkF {
  border-radius: 0;
  background-color: var(--background-primary);
}
.selected-1-Z6gm.container-1oeRFJ,
.clickable-28SzVr.container-1oeRFJ:hover,
.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ,
.wrapper-NhbLHG:hover .content-1gYQeQ {
	background-color: var(--background-modifier-selected);
  border-radius: 0;
  margin-right: 8px;
}
div#---new-messages-bar {
  border-top-color: rgb(var(--base08));
  }
div#---new-messages-bar>.unreadPill-3nEWYM {
  background-color: rgb(var(--base08));
}
div#---new-messages-bar .unreadPillCapStroke-1nE1Q8 {
  color: rgb(var(--base08));
  fill: rgb(var(--base08));
}
::-webkit-scrollbar {
  display:none;
}
.buttons-uaqb-5 {
  padding-right: 16px;
}
nav.privateChannels-oVe7HL a[href="/store"],
button[aria-label="Send a gift"] {
	display: none;
}
.item-2LIpTv,
.unread-36eUEm.unreadRelevant-2f-VSK {
  background-color: rgb(var(--base04));
	border-radius: 0;
  width: 10px;
  margin-left: -5px;
	clip-path: polygon( 50% 0, 100% 50%, 50% 100%);
}
.scrollableContainer-15eg7h {
	border-radius: 0;
}
.searchBar-zdmu7v {
	border-radius: 0;
}
.wrapper-2fEmwW {
  border-radius: 0;
  border: 1px solid var(--background-accent)
}
.users-2JoyGL {
	background-color: var(--background-secondary);
}
.total-1c5KCN {
	background-color: var(--background-primary);
}
.total-1c5KCN::after {
	border-right-color: var(--background-primary);
}
.scroller-2FKFPG {
  background-color: var(--background-primary);
}
.theme-dark .sidebar-1tnWFu {
  border-left: 1px solid var(--background-accent);
}
.searchBar-3TnChZ,
.header-3OsQeK {
	border-bottom: 1px solid var(--background-accent);
  box-shadow: none;
}
.panels-3wFtMD {
	border-top: 1px solid var(--background-accent);
}
.title-31SJ6t.container-ZMc96U.themed-Hp1KC_ {
	border-bottom: 1px solid var(--background-secondary-alt);
	box-shadow: none;
}
.content-1jQy2l::before {
  box-shadow: none;
}
.headerPlaying-j0WQBV,
.headerStreaming-2FjmGz {
  background: var(--background-secondary-alt);
}
.theme-dark .headerNormal-T_seeN {
  background-color: var(--background-primary);
}
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
  background-color: var(--background-primary);
  color: var(--header-secondary);
}
.theme-dark .quickMessage-1yeL4E {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary);
}
.theme-dark .inset-3sAvek {
  background-color: var(--background-secondary);
}
.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg {
  color: var(--header-primary);
}
.theme-dark .modal-yWgWj- {
  background-color: var(--background-primary);
}
.theme-dark .footer-2gL1pp {
  background-color: var(--background-primary);
}
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  color: var(--header-primary);
}
.theme-dark .notDetected-33MY4s,
.theme-light .notDetected-33MY4s {
  background-color: var(--background-primary);
}
.theme-dark .notDetected-33MY4s .gameName-1RiWHm,
.theme-light .notDetected-33MY4s .gameName-1RiWHm {
  color: var(--header-primary);
}
.theme-dark .gameName-1RiWHm {
  color: var(--header-primary);
}
.theme-dark .notDetected-33MY4s .lastPlayed-3bQ7Bo,
.theme-light .notDetected-33MY4s .lastPlayed-3bQ7Bo {
  color: var(--header-primary);
}
.theme-dark .nowPlayingAdd-1Kdmh_,
.theme-light .nowPlayingAdd-1Kdmh_ {
  color: var(--header-primary);
}
.css-1k00wn6-singleValue {
  color: var(--header-primary);
}
.theme-dark .codeRedemptionRedirect-1wVR4b {
  color: var(--header-primary);
  background-color: var(--background-primary);
  border-color: var(--background-primary);
}
.theme-dark .emptyStateHeader-248f_b {
  color: var(--header-primary);
}
.theme-dark .emptyStateSubtext-2hdA9c {
  color: var(--header-primary);
}
.theme-dark .root-1gCeng {
  background-color: var(--background-primary);
}
.theme-dark .date-EErlv4 {
  color: var(--header-primary);
}
.theme-dark .content-8biNdB ol,
.theme-dark .content-8biNdB p,
.theme-dark .content-8biNdB ul li {
  color: var(--header-primary);
}
.theme-dark .container-2cd8Mz {
  background-color: var(--background-primary);
}
.headerName-fajvi9,
.headerTagUsernameNoNickname-2_H881 {
  color: var(--header-primary);
}
.headerTag-2pZJzA {
  color: var(--header-secondary);
}
.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7,
.theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7,
.theme-light .activityProfile-2bJRaP .headerText-1HLrL7,
.theme-light .activityUserPopout-2yItg2 .headerText-1HLrL7 {
  color: var(--header-secondary);
}
.activityName-1IaRLn,
.nameNormal-2lqVQK,
.nameWrap-3Z4G_9 {
  color: var(--header-secondary);
}
.theme-dark .activityProfile-2bJRaP .content-3JfFJh,
.theme-dark .activityProfile-2bJRaP .details-38sfDr,
.theme-dark .activityProfile-2bJRaP .name-29ETJS,
.theme-dark .activityUserPopout-2yItg2 .content-3JfFJh,
.theme-dark .activityUserPopout-2yItg2 .details-38sfDr,
.theme-dark .activityUserPopout-2yItg2 .name-29ETJS,
.theme-light .activityProfile-2bJRaP .content-3JfFJh,
.theme-light .activityProfile-2bJRaP .details-38sfDr,
.theme-light .activityProfile-2bJRaP .name-29ETJS,
.theme-light .activityUserPopout-2yItg2 .content-3JfFJh,
.theme-light .activityUserPopout-2yItg2 .details-38sfDr,
.theme-light .activityUserPopout-2yItg2 .name-29ETJS {
  color: var(--header-secondary);
}
.topSectionPlaying-1J5E4n {
  background: var(--background-secondary-alt);
}
.username-3gJmXY {
  color: var(--header-primary);
}
.discriminator-xUhQkU {
  color: var(--header-secondary);
}
.tabBarItem-1b8RUP.item-PXvHYJ {
  color: var(--header-secondary) !important;
  border-color: transparent !important;
}
.theme-dark .keybind-KpFkfr {
  color: var(--header-primary);
}
.theme-dark .keyboardShortcutsModal-2CRmCm {
  background-color: var(--background-primary);
}
.theme-dark .closeButton-1tv5uR {
  border-color: var(--header-primary);
}
.barFill-23-gu- {
  background: var(--text-link);
}
.barBase-3xxDXu {
  border-radius: 0;
}
.newMessagesBar-1hF-9G {
  background-color: var(--background-new-msg-bar);
}
.bar-2eAyLE.unreadBar-elBRZx.unread-2wipsx.active-334r9u {
	border-radius: 0;
}
.focused-3afm-j {
  background-color: var(--background-secondary) !important;
  color: var(--text-link) !important;
}
.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
  color: var(--text-link);
}
.colorDefault-2K3EoJ .checkbox-3s5GYZ {
  color: var(--text-link);
}
.colorDefault-2K3EoJ .check-1JyqgN {
  color: var(--background-primary);
}
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ {
  color: var(--background-primary) !important;
}
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
  color: var(--text-link);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  color: var(--background-primary);
  background-color: var(--header-secondary);
}
.panels-j1Uci_ {
  background-color: var(--background-primary);
}
.navButton-2gQCx- {
  color: var(--interactive-normal);
}
.navButtonActive-1MkytQ {
  color: var(--header-primary);
}
.input-3Xdcic {
  color: var(--header-primary);
}
.clickable-2ap7je .header-2o-2hj {
  background-color: var(--background-primary);
}
.peopleColumn-29fq28 {
  background-color: var(--background-tertiary);
}
.theme-dark .outer-1AjyKL.active-1xchHY,
.theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
  background-color: var(--background-primary);
}
.theme-dark .popout-38lTFE {
  background-color: var(--background-primary);
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB
    > .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: var(--background-primary);
  border: 4px solid var(--background-secondary);
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB
    > .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary);
}
.theme-dark .header-sJd8D7 {
	color: var(--text-normal)
}
