[colors]
base00 = ee{{base00-hex}}
base01 = {{base01-hex}}
base02 = {{base02-hex}}
base03 = {{base03-hex}}
base04 = {{base04-hex}}
base05 = {{base05-hex}}
base06 = {{base06-hex}}
base07 = {{base07-hex}}
base08 = {{base08-hex}}
base09 = {{base09-hex}}
base0A = {{base0A-hex}}
base0B = {{base0B-hex}}
base0C = {{base0C-hex}}
base0D = {{base0D-hex}}
base0E = {{base0E-hex}}
base0F = {{base0F-hex}}

background = 0000
background-alt = 80{{base01-hex}}
foreground = ${self.base01}
foreground-alt = ${self.base0F}
primary = ${self.base0E}
dark = ${self.base01}
blue = ${self.base0E}
alert = ${self.base08}

