-- Base16 {{ scheme-name }} color
-- Author: {{ scheme-author }}
-- to be use in your colors.lua
-- symlink or copy to config folder `local color = require('color')`

return {
    "{{base00-hex}}", -- ----
    "{{base01-hex}}", -- ---
    "{{base02-hex}}", -- --
    "{{base03-hex}}", -- -
    "{{base04-hex}}", -- +
    "{{base05-hex}}", -- ++
    "{{base06-hex}}", -- +++
    "{{base07-hex}}", -- ++++
    "{{base08-hex}}", -- red
    "{{base09-hex}}", -- orange
    "{{base0A-hex}}", -- yellow
    "{{base0B-hex}}", -- green
    "{{base0C-hex}}", -- aqua/cyan
    "{{base0D-hex}}", -- blue
    "{{base0E-hex}}", -- purple
    "{{base0F-hex}}", -- brown
}
